@page "/medidas"

@attribute [Authorize]

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" @bind="Model.Nombre_Medida" />
                <div class="input-group-append">
                    <button class="btn btn-primary" @onclick="AgregarMedida">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tamaño</th>
                        <th>Articulos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in ListaMedidas)
                    {
                        <tr>
                            <td>
                                <input type="text" class="form-control" @bind="cat.Nombre_Medida" />
                            </td>
                            <td>@cat.CantidadArticulos</td>
                            <td>
                                <button class="btn btn-success" @onclick="(()=>ModificarMedida(cat))">Guardar</button>
                                <button class="btn btn-danger" @onclick="(()=>EliminarMedida(cat.Id))">Eliminar</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<ToastContainer />

@inject MedidaService medidaService
@inject IToaster toaster
@inject SweetAlertService swal

@code {
    public MedidaModel Model { get; set; } = new MedidaModel();

    public List<MedidaModel> ListaMedidas { get; set; } = new List<MedidaModel>();

    protected override void OnInitialized()
    {
        CargarMedida();
        //otros metodos
    }

    protected void CargarMedida()
    {
        var result = medidaService.ListaMedidas();
        ListaMedidas = result;
    }

    protected void AgregarMedida()
    {
        var result = medidaService.Crear(Model);
        if (result.IsSuccess)
        {
            Model.Id = result.Code;
            Model.CantidadArticulos = 0;



            ListaMedidas.Add(Model);

            Model = new MedidaModel();
            toaster.Success(result.Message, "OK");
        }
        else
        {
            toaster.Error(result.Message, "Error");
        }

    }

    protected void ModificarMedida(MedidaModel etapa)
    {
        var result = medidaService.Modificar(etapa);
        if (result.IsSuccess)
        {
            toaster.Success(result.Message, "OK");
        }
        else
        {
            toaster.Error(result.Message, "Error");
        }

    }

    protected async Task EliminarMedida(int idmedida)
    {
        var res = await swal.FireAsync(new SweetAlertOptions
        {
            Title = "¿Confirma que desea eliminar este dato?",
            Text = "Si la elimina, no podrá recuperarlo",
            ShowConfirmButton = true,
            ConfirmButtonText = "Si, eliminar",
            ShowCancelButton = true,
            CancelButtonText = "No, eliminar"
        });

        if (!res.IsConfirmed)
        {
            return;
        }

        var result = medidaService.Eliminar(idmedida);

        if (result.IsSuccess)
        {
            CargarMedida();
            toaster.Success(result.Message, "OK");
        }
        else
        {
            toaster.Error(result.Message, "Error");
        }


    }
}